1password/static/exports/1password-connect-wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="http://1password.local/schemas" xmlns:wsdl="http://1password.local/wsdl" targetNamespace="http://1password.local/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://1password.local/schemas" targetNamespace="http://1password.local/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GET_GetVaultItems_InputMessage" type="schemas:GET_GetVaultItems_InputMessage" />
      <xs:element name="GET_GetVaultItems_OutputMessage" type="schemas:GET_GetVaultItems_OutputMessage" />
      <xs:element name="GET_GetVaultItems_401" type="schemas:GET_GetVaultItems_401" />
      <xs:element name="GET_GetVaultItems_404" type="schemas:GET_GetVaultItems_404" />
      <xs:element name="POST_CreateVaultItem_InputMessage" type="schemas:POST_CreateVaultItem_InputMessage" />
      <xs:element name="POST_CreateVaultItem_OutputMessage" type="schemas:POST_CreateVaultItem_OutputMessage" />
      <xs:element name="POST_CreateVaultItem_400" type="schemas:POST_CreateVaultItem_400" />
      <xs:element name="POST_CreateVaultItem_401" type="schemas:POST_CreateVaultItem_401" />
      <xs:element name="POST_CreateVaultItem_403" type="schemas:POST_CreateVaultItem_403" />
      <xs:element name="POST_CreateVaultItem_404" type="schemas:POST_CreateVaultItem_404" />
      <xs:element name="DELETE_DeleteVaultItem_InputMessage" type="schemas:DELETE_DeleteVaultItem_InputMessage" />
      <xs:element name="DELETE_DeleteVaultItem_OutputMessage" type="schemas:DELETE_DeleteVaultItem_OutputMessage" />
      <xs:element name="DELETE_DeleteVaultItem_401" type="schemas:DELETE_DeleteVaultItem_401" />
      <xs:element name="DELETE_DeleteVaultItem_403" type="schemas:DELETE_DeleteVaultItem_403" />
      <xs:element name="DELETE_DeleteVaultItem_404" type="schemas:DELETE_DeleteVaultItem_404" />
      <xs:element name="GET_GetVaultItemById_InputMessage" type="schemas:GET_GetVaultItemById_InputMessage" />
      <xs:element name="GET_GetVaultItemById_OutputMessage" type="schemas:GET_GetVaultItemById_OutputMessage" />
      <xs:element name="GET_GetVaultItemById_401" type="schemas:GET_GetVaultItemById_401" />
      <xs:element name="GET_GetVaultItemById_403" type="schemas:GET_GetVaultItemById_403" />
      <xs:element name="GET_GetVaultItemById_404" type="schemas:GET_GetVaultItemById_404" />
      <xs:element name="PATCH_PatchVaultItem_InputMessage" type="schemas:PATCH_PatchVaultItem_InputMessage" />
      <xs:element name="PATCH_PatchVaultItem_OutputMessage" type="schemas:PATCH_PatchVaultItem_OutputMessage" />
      <xs:element name="PATCH_PatchVaultItem_401" type="schemas:PATCH_PatchVaultItem_401" />
      <xs:element name="PATCH_PatchVaultItem_403" type="schemas:PATCH_PatchVaultItem_403" />
      <xs:element name="PATCH_PatchVaultItem_404" type="schemas:PATCH_PatchVaultItem_404" />
      <xs:element name="PUT_UpdateVaultItem_InputMessage" type="schemas:PUT_UpdateVaultItem_InputMessage" />
      <xs:element name="PUT_UpdateVaultItem_OutputMessage" type="schemas:PUT_UpdateVaultItem_OutputMessage" />
      <xs:element name="PUT_UpdateVaultItem_400" type="schemas:PUT_UpdateVaultItem_400" />
      <xs:element name="PUT_UpdateVaultItem_401" type="schemas:PUT_UpdateVaultItem_401" />
      <xs:element name="PUT_UpdateVaultItem_403" type="schemas:PUT_UpdateVaultItem_403" />
      <xs:element name="PUT_UpdateVaultItem_404" type="schemas:PUT_UpdateVaultItem_404" />
      <xs:element name="GET_GetVaults_InputMessage" type="schemas:GET_GetVaults_InputMessage" />
      <xs:element name="GET_GetVaults_OutputMessage" type="schemas:GET_GetVaults_OutputMessage" />
      <xs:element name="GET_GetVaults_401" type="schemas:GET_GetVaults_401" />
      <xs:element name="GET_GetVaultById_InputMessage" type="schemas:GET_GetVaultById_InputMessage" />
      <xs:element name="GET_GetVaultById_OutputMessage" type="schemas:GET_GetVaultById_OutputMessage" />
      <xs:element name="GET_GetVaultById_401" type="schemas:GET_GetVaultById_401" />
      <xs:element name="GET_GetVaultById_403" type="schemas:GET_GetVaultById_403" />
      <xs:element name="GET_GetVaultById_404" type="schemas:GET_GetVaultById_404" />
      <xs:element name="GET_GetApiActivity_InputMessage" type="schemas:GET_GetApiActivity_InputMessage" />
      <xs:element name="GET_GetApiActivity_OutputMessage" type="schemas:GET_GetApiActivity_OutputMessage" />
      <xs:element name="GET_GetApiActivity_401" type="schemas:GET_GetApiActivity_401" />
      <xs:element name="GET_GetServerHealth_InputMessage" type="schemas:GET_GetServerHealth_InputMessage" />
      <xs:element name="GET_GetServerHealth_OutputMessage" type="schemas:GET_GetServerHealth_OutputMessage" />
      <xs:element name="GET_GetHeartbeat_InputMessage" type="schemas:GET_GetHeartbeat_InputMessage" />
      <xs:element name="GET_GetHeartbeat_OutputMessage" type="schemas:GET_GetHeartbeat_OutputMessage" />
      <xs:element name="GET_GetPrometheusMetrics_InputMessage" type="schemas:GET_GetPrometheusMetrics_InputMessage" />
      <xs:element name="GET_GetPrometheusMetrics_OutputMessage" type="schemas:GET_GetPrometheusMetrics_OutputMessage" />
      <xs:element name="GET_GetItemFiles_InputMessage" type="schemas:GET_GetItemFiles_InputMessage" />
      <xs:element name="GET_GetItemFiles_OutputMessage" type="schemas:GET_GetItemFiles_OutputMessage" />
      <xs:element name="GET_GetItemFiles_401" type="schemas:GET_GetItemFiles_401" />
      <xs:element name="GET_GetItemFiles_404" type="schemas:GET_GetItemFiles_404" />
      <xs:element name="GET_GetItemFiles_413" type="schemas:GET_GetItemFiles_413" />
      <xs:element name="GET_GetDetailsOfFileById_InputMessage" type="schemas:GET_GetDetailsOfFileById_InputMessage" />
      <xs:element name="GET_GetDetailsOfFileById_OutputMessage" type="schemas:GET_GetDetailsOfFileById_OutputMessage" />
      <xs:element name="GET_GetDetailsOfFileById_401" type="schemas:GET_GetDetailsOfFileById_401" />
      <xs:element name="GET_GetDetailsOfFileById_403" type="schemas:GET_GetDetailsOfFileById_403" />
      <xs:element name="GET_GetDetailsOfFileById_404" type="schemas:GET_GetDetailsOfFileById_404" />
      <xs:element name="GET_GetDetailsOfFileById_413" type="schemas:GET_GetDetailsOfFileById_413" />
      <xs:element name="GET_DownloadFileByID_InputMessage" type="schemas:GET_DownloadFileByID_InputMessage" />
      <xs:element name="GET_DownloadFileByID_OutputMessage" type="schemas:GET_DownloadFileByID_OutputMessage" />
      <xs:element name="GET_DownloadFileByID_401" type="schemas:GET_DownloadFileByID_401" />
      <xs:element name="GET_DownloadFileByID_404" type="schemas:GET_DownloadFileByID_404" />
      <xs:complexType name="APIRequest">
        <xs:annotation>
          <xs:documentation>Represents a request that was made to the API. Including what Token was used and what resource was accessed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="action" type="schemas:Action" />
          <xs:element minOccurs="0" name="actor" type="schemas:Actor" />
          <xs:element minOccurs="0" name="requestId" type="xs:string">
            <xs:annotation>
              <xs:documentation>The unique id used to identify a single request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="resource" type="schemas:Resource" />
          <xs:element minOccurs="0" name="result" type="schemas:Result" />
          <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The time at which the request was processed by the server.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>A message detailing the error</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="status" type="xs:integer">
            <xs:annotation>
              <xs:documentation>HTTP Status Code</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="entropy" type="xs:double">
            <xs:annotation>
              <xs:documentation>For fields with a purpose of `PASSWORD` this is the entropy of the value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" default="false" name="generate" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>If value is not present then a new value should be generated for this field</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="purpose" type="schemas:Purpose">
            <xs:annotation>
              <xs:documentation>Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="recipe" type="schemas:GeneratorRecipe">
            <xs:annotation>
              <xs:documentation>The recipe is used in conjunction with the "generate" property to set the character set used to generate a new secure value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="section" type="schemas:Section" />
          <xs:element minOccurs="1" default="STRING" name="type" type="schemas:Type1" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="File">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:string">
            <xs:annotation>
              <xs:documentation>Base64-encoded contents of the file. Only set if size &lt;= OP_MAX_INLINE_FILE_SIZE_KB kb and `inline_files` is set to `true`.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="content_path" type="xs:string">
            <xs:annotation>
              <xs:documentation>Path of the Connect API that can be used to download the contents of this file.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="id" type="xs:string">
            <xs:annotation>
              <xs:documentation>ID of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="section" type="schemas:Section1">
            <xs:annotation>
              <xs:documentation>For files that are in a section, this field describes the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="size" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Size in bytes of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FullItem">
        <xs:sequence>
          <xs:element minOccurs="1" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" default="false" name="favorite" type="xs:boolean" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="lastEditedBy" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="schemas:State" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="schemas:Url" />
          <xs:element minOccurs="1" name="vault" type="schemas:Vault1" />
          <xs:element minOccurs="0" name="version" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fields" type="schemas:Field" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="files" type="schemas:File" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sections" type="schemas:Section2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GeneratorRecipe">
        <xs:annotation>
          <xs:documentation>The recipe is used in conjunction with the "generate" property to set the character set used to generate a new secure value</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="characterSets" type="schemas:CharacterSet" />
          <xs:element minOccurs="0" name="excludeCharacters" type="xs:string">
            <xs:annotation>
              <xs:documentation>List of all characters that should be excluded from generated passwords.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" default="32" name="length">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Length of the generated value</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:maxInclusive value="64" />
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Item">
        <xs:sequence>
          <xs:element minOccurs="1" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" default="false" name="favorite" type="xs:boolean" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="lastEditedBy" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="schemas:State" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="schemas:Url" />
          <xs:element minOccurs="1" name="vault" type="schemas:Vault1" />
          <xs:element minOccurs="0" name="version" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceDependency">
        <xs:annotation>
          <xs:documentation>The state of a registered server dependency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable message for explaining the current state.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="service" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault">
        <xs:sequence>
          <xs:element minOccurs="0" name="attributeVersion" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The vault version</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="contentVersion" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The version of the vault contents</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="items" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of active items in the vault</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="schemas:Type2" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Action">
        <xs:restriction base="xs:string">
          <xs:enumeration value="READ" />
          <xs:enumeration value="CREATE" />
          <xs:enumeration value="UPDATE" />
          <xs:enumeration value="DELETE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Actor">
        <xs:sequence>
          <xs:element minOccurs="0" name="account" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="jti" type="xs:string" />
          <xs:element minOccurs="0" name="requestIp" type="xs:string" />
          <xs:element minOccurs="0" name="userAgent" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Category">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LOGIN" />
          <xs:enumeration value="PASSWORD" />
          <xs:enumeration value="API_CREDENTIAL" />
          <xs:enumeration value="SERVER" />
          <xs:enumeration value="DATABASE" />
          <xs:enumeration value="CREDIT_CARD" />
          <xs:enumeration value="MEMBERSHIP" />
          <xs:enumeration value="PASSPORT" />
          <xs:enumeration value="SOFTWARE_LICENSE" />
          <xs:enumeration value="OUTDOOR_LICENSE" />
          <xs:enumeration value="SECURE_NOTE" />
          <xs:enumeration value="WIRELESS_ROUTER" />
          <xs:enumeration value="BANK_ACCOUNT" />
          <xs:enumeration value="DRIVER_LICENSE" />
          <xs:enumeration value="IDENTITY" />
          <xs:enumeration value="REWARD_PROGRAM" />
          <xs:enumeration value="DOCUMENT" />
          <xs:enumeration value="EMAIL_ACCOUNT" />
          <xs:enumeration value="SOCIAL_SECURITY_NUMBER" />
          <xs:enumeration value="MEDICAL_RECORD" />
          <xs:enumeration value="SSH_KEY" />
          <xs:enumeration value="CUSTOM" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CharacterSet">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LETTERS" />
          <xs:enumeration value="DIGITS" />
          <xs:enumeration value="SYMBOLS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="HealthResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dependencies" type="schemas:ServiceDependency" />
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" name="version" type="xs:string">
            <xs:annotation>
              <xs:documentation>The Connect server's version</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Item2">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Op">
        <xs:restriction base="xs:string">
          <xs:enumeration value="add" />
          <xs:enumeration value="remove" />
          <xs:enumeration value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Patch">
        <xs:sequence>
          <xs:element minOccurs="1" name="op" type="schemas:Op" />
          <xs:element minOccurs="1" name="path" type="xs:string">
            <xs:annotation>
              <xs:documentation>An RFC6901 JSON Pointer pointing to the Item document, an Item Attribute, and Item Field by Field ID, or an Item Field Attribute</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Purpose">
        <xs:annotation>
          <xs:documentation>Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="USERNAME" />
          <xs:enumeration value="PASSWORD" />
          <xs:enumeration value="NOTES" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="item" type="schemas:Item2" />
          <xs:element minOccurs="0" name="itemVersion" type="xs:integer" />
          <xs:element minOccurs="0" name="type" type="schemas:Type" />
          <xs:element minOccurs="0" name="vault" type="schemas:Vault3" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Result">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="DENY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Section">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Section1">
        <xs:annotation>
          <xs:documentation>For files that are in a section, this field describes the section.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Section2">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="State">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ARCHIVED" />
          <xs:enumeration value="DELETED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ITEM" />
          <xs:enumeration value="VAULT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type1">
        <xs:restriction base="xs:string">
          <xs:enumeration value="STRING" />
          <xs:enumeration value="EMAIL" />
          <xs:enumeration value="CONCEALED" />
          <xs:enumeration value="URL" />
          <xs:enumeration value="TOTP" />
          <xs:enumeration value="DATE" />
          <xs:enumeration value="MONTH_YEAR" />
          <xs:enumeration value="MENU" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type2">
        <xs:restriction base="xs:string">
          <xs:enumeration value="USER_CREATED" />
          <xs:enumeration value="PERSONAL" />
          <xs:enumeration value="EVERYONE" />
          <xs:enumeration value="TRANSFER" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Url">
        <xs:sequence>
          <xs:element minOccurs="1" name="href" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="primary" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault1">
        <xs:sequence>
          <xs:element minOccurs="1" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault3">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItems_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault to fetch Items from</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="filter" type="xs:string">
            <xs:annotation>
              <xs:documentation>Filter the Item collection based on Item name using SCIM eq filter</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItems_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Item">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItems_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItems_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Vault not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault to create an Item in</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" fixed="application/json" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="body" type="schemas:FullItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unable to create item due to invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_CreateVaultItem_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_DeleteVaultItem_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault the item is in</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Item to update</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_DeleteVaultItem_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response204">
            <xs:annotation>
              <xs:documentation>Successfully deleted an item</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_DeleteVaultItem_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_DeleteVaultItem_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_DeleteVaultItem_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItemById_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault to fetch Item from</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Item to fetch</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItemById_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItemById_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItemById_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultItemById_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PATCH_PatchVaultItem_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault the item is in</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Item to update</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" fixed="application/json" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="body" type="schemas:Patch" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PATCH_PatchVaultItem_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK - Item updated. If no Patch operations were provided, Item is unmodified.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PATCH_PatchVaultItem_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PATCH_PatchVaultItem_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PATCH_PatchVaultItem_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Item's Vault</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Item to update</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" fixed="application/json" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="body" type="schemas:FullItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unable to create item due to invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_UpdateVaultItem_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaults_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="filter" type="xs:string">
            <xs:annotation>
              <xs:documentation>Filter the Vault collection based on Vault name using SCIM eq filter</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaults_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Vault">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaults_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultById_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The UUID of the Vault to fetch Items from</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultById_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Vault">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultById_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultById_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetVaultById_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Vault not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetApiActivity_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="0" default="50" name="limit" type="xs:integer">
            <xs:annotation>
              <xs:documentation>How many API Events should be retrieved in a single request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" default="0" name="offset" type="xs:integer">
            <xs:annotation>
              <xs:documentation>How far into the collection of API Events should the response start</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetApiActivity_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:APIRequest">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetApiActivity_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetServerHealth_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetServerHealth_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:HealthResponse">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetHeartbeat_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetHeartbeat_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="xs:string">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetPrometheusMetrics_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetPrometheusMetrics_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="xs:string">
            <xs:annotation>
              <xs:documentation>Successfully returned Prometheus metrics</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetItemFiles_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Vault to fetch Items from</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Item to fetch files from</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="inline_files" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Tells server to return the base64-encoded file contents in the response.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetItemFiles_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:File">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetItemFiles_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetItemFiles_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetItemFiles_413">
        <xs:sequence>
          <xs:element minOccurs="1" name="response413" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File content too large to display</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Vault to fetch Item from</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Item to fetch File from</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fileUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the File to fetch</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="inline_files" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Tells server to return the base64-encoded file contents in the response.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:File">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_403">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_GetDetailsOfFileById_413">
        <xs:sequence>
          <xs:element minOccurs="1" name="response413" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File content too large to display</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_DownloadFileByID_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="vaultUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Vault the item is in</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="itemUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>The UUID of the Item the File is in</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fileUuid" type="xs:string">
            <xs:annotation>
              <xs:documentation>UUID of the file to get content from</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_DownloadFileByID_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="xs:hexBinary">
            <xs:annotation>
              <xs:documentation>Success</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_DownloadFileByID_401">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_DownloadFileByID_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GET_GetVaultItems_InputMessage">
    <part name="GET_GetVaultItems_InputMessage" element="schemas:GET_GetVaultItems_InputMessage" />
  </message>
  <message name="GET_GetVaultItems_OutputMessage">
    <part name="GET_GetVaultItems_OutputMessage" element="schemas:GET_GetVaultItems_OutputMessage" />
  </message>
  <message name="GET_GetVaultItems_401">
    <part name="GET_GetVaultItems_401" element="schemas:GET_GetVaultItems_401" />
  </message>
  <message name="GET_GetVaultItems_404">
    <part name="GET_GetVaultItems_404" element="schemas:GET_GetVaultItems_404" />
  </message>
  <message name="POST_CreateVaultItem_InputMessage">
    <part name="POST_CreateVaultItem_InputMessage" element="schemas:POST_CreateVaultItem_InputMessage" />
  </message>
  <message name="POST_CreateVaultItem_OutputMessage">
    <part name="POST_CreateVaultItem_OutputMessage" element="schemas:POST_CreateVaultItem_OutputMessage" />
  </message>
  <message name="POST_CreateVaultItem_400">
    <part name="POST_CreateVaultItem_400" element="schemas:POST_CreateVaultItem_400" />
  </message>
  <message name="POST_CreateVaultItem_401">
    <part name="POST_CreateVaultItem_401" element="schemas:POST_CreateVaultItem_401" />
  </message>
  <message name="POST_CreateVaultItem_403">
    <part name="POST_CreateVaultItem_403" element="schemas:POST_CreateVaultItem_403" />
  </message>
  <message name="POST_CreateVaultItem_404">
    <part name="POST_CreateVaultItem_404" element="schemas:POST_CreateVaultItem_404" />
  </message>
  <message name="DELETE_DeleteVaultItem_InputMessage">
    <part name="DELETE_DeleteVaultItem_InputMessage" element="schemas:DELETE_DeleteVaultItem_InputMessage" />
  </message>
  <message name="DELETE_DeleteVaultItem_OutputMessage">
    <part name="DELETE_DeleteVaultItem_OutputMessage" element="schemas:DELETE_DeleteVaultItem_OutputMessage" />
  </message>
  <message name="DELETE_DeleteVaultItem_401">
    <part name="DELETE_DeleteVaultItem_401" element="schemas:DELETE_DeleteVaultItem_401" />
  </message>
  <message name="DELETE_DeleteVaultItem_403">
    <part name="DELETE_DeleteVaultItem_403" element="schemas:DELETE_DeleteVaultItem_403" />
  </message>
  <message name="DELETE_DeleteVaultItem_404">
    <part name="DELETE_DeleteVaultItem_404" element="schemas:DELETE_DeleteVaultItem_404" />
  </message>
  <message name="GET_GetVaultItemById_InputMessage">
    <part name="GET_GetVaultItemById_InputMessage" element="schemas:GET_GetVaultItemById_InputMessage" />
  </message>
  <message name="GET_GetVaultItemById_OutputMessage">
    <part name="GET_GetVaultItemById_OutputMessage" element="schemas:GET_GetVaultItemById_OutputMessage" />
  </message>
  <message name="GET_GetVaultItemById_401">
    <part name="GET_GetVaultItemById_401" element="schemas:GET_GetVaultItemById_401" />
  </message>
  <message name="GET_GetVaultItemById_403">
    <part name="GET_GetVaultItemById_403" element="schemas:GET_GetVaultItemById_403" />
  </message>
  <message name="GET_GetVaultItemById_404">
    <part name="GET_GetVaultItemById_404" element="schemas:GET_GetVaultItemById_404" />
  </message>
  <message name="PATCH_PatchVaultItem_InputMessage">
    <part name="PATCH_PatchVaultItem_InputMessage" element="schemas:PATCH_PatchVaultItem_InputMessage" />
  </message>
  <message name="PATCH_PatchVaultItem_OutputMessage">
    <part name="PATCH_PatchVaultItem_OutputMessage" element="schemas:PATCH_PatchVaultItem_OutputMessage" />
  </message>
  <message name="PATCH_PatchVaultItem_401">
    <part name="PATCH_PatchVaultItem_401" element="schemas:PATCH_PatchVaultItem_401" />
  </message>
  <message name="PATCH_PatchVaultItem_403">
    <part name="PATCH_PatchVaultItem_403" element="schemas:PATCH_PatchVaultItem_403" />
  </message>
  <message name="PATCH_PatchVaultItem_404">
    <part name="PATCH_PatchVaultItem_404" element="schemas:PATCH_PatchVaultItem_404" />
  </message>
  <message name="PUT_UpdateVaultItem_InputMessage">
    <part name="PUT_UpdateVaultItem_InputMessage" element="schemas:PUT_UpdateVaultItem_InputMessage" />
  </message>
  <message name="PUT_UpdateVaultItem_OutputMessage">
    <part name="PUT_UpdateVaultItem_OutputMessage" element="schemas:PUT_UpdateVaultItem_OutputMessage" />
  </message>
  <message name="PUT_UpdateVaultItem_400">
    <part name="PUT_UpdateVaultItem_400" element="schemas:PUT_UpdateVaultItem_400" />
  </message>
  <message name="PUT_UpdateVaultItem_401">
    <part name="PUT_UpdateVaultItem_401" element="schemas:PUT_UpdateVaultItem_401" />
  </message>
  <message name="PUT_UpdateVaultItem_403">
    <part name="PUT_UpdateVaultItem_403" element="schemas:PUT_UpdateVaultItem_403" />
  </message>
  <message name="PUT_UpdateVaultItem_404">
    <part name="PUT_UpdateVaultItem_404" element="schemas:PUT_UpdateVaultItem_404" />
  </message>
  <message name="GET_GetVaults_InputMessage">
    <part name="GET_GetVaults_InputMessage" element="schemas:GET_GetVaults_InputMessage" />
  </message>
  <message name="GET_GetVaults_OutputMessage">
    <part name="GET_GetVaults_OutputMessage" element="schemas:GET_GetVaults_OutputMessage" />
  </message>
  <message name="GET_GetVaults_401">
    <part name="GET_GetVaults_401" element="schemas:GET_GetVaults_401" />
  </message>
  <message name="GET_GetVaultById_InputMessage">
    <part name="GET_GetVaultById_InputMessage" element="schemas:GET_GetVaultById_InputMessage" />
  </message>
  <message name="GET_GetVaultById_OutputMessage">
    <part name="GET_GetVaultById_OutputMessage" element="schemas:GET_GetVaultById_OutputMessage" />
  </message>
  <message name="GET_GetVaultById_401">
    <part name="GET_GetVaultById_401" element="schemas:GET_GetVaultById_401" />
  </message>
  <message name="GET_GetVaultById_403">
    <part name="GET_GetVaultById_403" element="schemas:GET_GetVaultById_403" />
  </message>
  <message name="GET_GetVaultById_404">
    <part name="GET_GetVaultById_404" element="schemas:GET_GetVaultById_404" />
  </message>
  <message name="GET_GetApiActivity_InputMessage">
    <part name="GET_GetApiActivity_InputMessage" element="schemas:GET_GetApiActivity_InputMessage" />
  </message>
  <message name="GET_GetApiActivity_OutputMessage">
    <part name="GET_GetApiActivity_OutputMessage" element="schemas:GET_GetApiActivity_OutputMessage" />
  </message>
  <message name="GET_GetApiActivity_401">
    <part name="GET_GetApiActivity_401" element="schemas:GET_GetApiActivity_401" />
  </message>
  <message name="GET_GetServerHealth_InputMessage">
    <part name="GET_GetServerHealth_InputMessage" element="schemas:GET_GetServerHealth_InputMessage" />
  </message>
  <message name="GET_GetServerHealth_OutputMessage">
    <part name="GET_GetServerHealth_OutputMessage" element="schemas:GET_GetServerHealth_OutputMessage" />
  </message>
  <message name="GET_GetHeartbeat_InputMessage">
    <part name="GET_GetHeartbeat_InputMessage" element="schemas:GET_GetHeartbeat_InputMessage" />
  </message>
  <message name="GET_GetHeartbeat_OutputMessage">
    <part name="GET_GetHeartbeat_OutputMessage" element="schemas:GET_GetHeartbeat_OutputMessage" />
  </message>
  <message name="GET_GetPrometheusMetrics_InputMessage">
    <part name="GET_GetPrometheusMetrics_InputMessage" element="schemas:GET_GetPrometheusMetrics_InputMessage" />
  </message>
  <message name="GET_GetPrometheusMetrics_OutputMessage">
    <part name="GET_GetPrometheusMetrics_OutputMessage" element="schemas:GET_GetPrometheusMetrics_OutputMessage" />
  </message>
  <message name="GET_GetItemFiles_InputMessage">
    <part name="GET_GetItemFiles_InputMessage" element="schemas:GET_GetItemFiles_InputMessage" />
  </message>
  <message name="GET_GetItemFiles_OutputMessage">
    <part name="GET_GetItemFiles_OutputMessage" element="schemas:GET_GetItemFiles_OutputMessage" />
  </message>
  <message name="GET_GetItemFiles_401">
    <part name="GET_GetItemFiles_401" element="schemas:GET_GetItemFiles_401" />
  </message>
  <message name="GET_GetItemFiles_404">
    <part name="GET_GetItemFiles_404" element="schemas:GET_GetItemFiles_404" />
  </message>
  <message name="GET_GetItemFiles_413">
    <part name="GET_GetItemFiles_413" element="schemas:GET_GetItemFiles_413" />
  </message>
  <message name="GET_GetDetailsOfFileById_InputMessage">
    <part name="GET_GetDetailsOfFileById_InputMessage" element="schemas:GET_GetDetailsOfFileById_InputMessage" />
  </message>
  <message name="GET_GetDetailsOfFileById_OutputMessage">
    <part name="GET_GetDetailsOfFileById_OutputMessage" element="schemas:GET_GetDetailsOfFileById_OutputMessage" />
  </message>
  <message name="GET_GetDetailsOfFileById_401">
    <part name="GET_GetDetailsOfFileById_401" element="schemas:GET_GetDetailsOfFileById_401" />
  </message>
  <message name="GET_GetDetailsOfFileById_403">
    <part name="GET_GetDetailsOfFileById_403" element="schemas:GET_GetDetailsOfFileById_403" />
  </message>
  <message name="GET_GetDetailsOfFileById_404">
    <part name="GET_GetDetailsOfFileById_404" element="schemas:GET_GetDetailsOfFileById_404" />
  </message>
  <message name="GET_GetDetailsOfFileById_413">
    <part name="GET_GetDetailsOfFileById_413" element="schemas:GET_GetDetailsOfFileById_413" />
  </message>
  <message name="GET_DownloadFileByID_InputMessage">
    <part name="GET_DownloadFileByID_InputMessage" element="schemas:GET_DownloadFileByID_InputMessage" />
  </message>
  <message name="GET_DownloadFileByID_OutputMessage">
    <part name="GET_DownloadFileByID_OutputMessage" element="schemas:GET_DownloadFileByID_OutputMessage" />
  </message>
  <message name="GET_DownloadFileByID_401">
    <part name="GET_DownloadFileByID_401" element="schemas:GET_DownloadFileByID_401" />
  </message>
  <message name="GET_DownloadFileByID_404">
    <part name="GET_DownloadFileByID_404" element="schemas:GET_DownloadFileByID_404" />
  </message>
  <portType name="_x0031_Password_x0020_Connect_PortType">
    <operation name="GET_GetVaultItems">
      <documentation />
      <input message="wsdl:GET_GetVaultItems_InputMessage" />
      <output message="wsdl:GET_GetVaultItems_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetVaultItems_401" message="wsdl:GET_GetVaultItems_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_GetVaultItems_404" message="wsdl:GET_GetVaultItems_404">
        <documentation>Vault not found</documentation>
      </fault>
    </operation>
    <operation name="POST_CreateVaultItem">
      <documentation />
      <input message="wsdl:POST_CreateVaultItem_InputMessage" />
      <output message="wsdl:POST_CreateVaultItem_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="POST_CreateVaultItem_400" message="wsdl:POST_CreateVaultItem_400">
        <documentation>Unable to create item due to invalid input</documentation>
      </fault>
      <fault name="POST_CreateVaultItem_401" message="wsdl:POST_CreateVaultItem_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="POST_CreateVaultItem_403" message="wsdl:POST_CreateVaultItem_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="POST_CreateVaultItem_404" message="wsdl:POST_CreateVaultItem_404">
        <documentation>Item not found</documentation>
      </fault>
    </operation>
    <operation name="DELETE_DeleteVaultItem">
      <documentation />
      <input message="wsdl:DELETE_DeleteVaultItem_InputMessage" />
      <output message="wsdl:DELETE_DeleteVaultItem_OutputMessage">
        <documentation>Successfully deleted an item</documentation>
      </output>
      <fault name="DELETE_DeleteVaultItem_401" message="wsdl:DELETE_DeleteVaultItem_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="DELETE_DeleteVaultItem_403" message="wsdl:DELETE_DeleteVaultItem_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="DELETE_DeleteVaultItem_404" message="wsdl:DELETE_DeleteVaultItem_404">
        <documentation>Item not found</documentation>
      </fault>
    </operation>
    <operation name="GET_GetVaultItemById">
      <documentation />
      <input message="wsdl:GET_GetVaultItemById_InputMessage" />
      <output message="wsdl:GET_GetVaultItemById_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetVaultItemById_401" message="wsdl:GET_GetVaultItemById_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_GetVaultItemById_403" message="wsdl:GET_GetVaultItemById_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="GET_GetVaultItemById_404" message="wsdl:GET_GetVaultItemById_404">
        <documentation>Item not found</documentation>
      </fault>
    </operation>
    <operation name="PATCH_PatchVaultItem">
      <documentation>Applies a modified [RFC6902 JSON Patch](https://tools.ietf.org/html/rfc6902) document to an Item or ItemField. This endpoint only supports `add`, `remove` and `replace` operations.

When modifying a specific ItemField, the ItemField's ID in the `path` attribute of the operation object: `/fields/{fieldId}`
</documentation>
      <input message="wsdl:PATCH_PatchVaultItem_InputMessage" />
      <output message="wsdl:PATCH_PatchVaultItem_OutputMessage">
        <documentation>OK - Item updated. If no Patch operations were provided, Item is unmodified.</documentation>
      </output>
      <fault name="PATCH_PatchVaultItem_401" message="wsdl:PATCH_PatchVaultItem_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="PATCH_PatchVaultItem_403" message="wsdl:PATCH_PatchVaultItem_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="PATCH_PatchVaultItem_404" message="wsdl:PATCH_PatchVaultItem_404">
        <documentation>Item not found</documentation>
      </fault>
    </operation>
    <operation name="PUT_UpdateVaultItem">
      <documentation />
      <input message="wsdl:PUT_UpdateVaultItem_InputMessage" />
      <output message="wsdl:PUT_UpdateVaultItem_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="PUT_UpdateVaultItem_400" message="wsdl:PUT_UpdateVaultItem_400">
        <documentation>Unable to create item due to invalid input</documentation>
      </fault>
      <fault name="PUT_UpdateVaultItem_401" message="wsdl:PUT_UpdateVaultItem_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="PUT_UpdateVaultItem_403" message="wsdl:PUT_UpdateVaultItem_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="PUT_UpdateVaultItem_404" message="wsdl:PUT_UpdateVaultItem_404">
        <documentation>Item not found</documentation>
      </fault>
    </operation>
    <operation name="GET_GetVaults">
      <documentation />
      <input message="wsdl:GET_GetVaults_InputMessage" />
      <output message="wsdl:GET_GetVaults_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetVaults_401" message="wsdl:GET_GetVaults_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
    </operation>
    <operation name="GET_GetVaultById">
      <documentation />
      <input message="wsdl:GET_GetVaultById_InputMessage" />
      <output message="wsdl:GET_GetVaultById_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetVaultById_401" message="wsdl:GET_GetVaultById_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_GetVaultById_403" message="wsdl:GET_GetVaultById_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="GET_GetVaultById_404" message="wsdl:GET_GetVaultById_404">
        <documentation>Vault not found</documentation>
      </fault>
    </operation>
    <operation name="GET_GetApiActivity">
      <documentation />
      <input message="wsdl:GET_GetApiActivity_InputMessage" />
      <output message="wsdl:GET_GetApiActivity_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetApiActivity_401" message="wsdl:GET_GetApiActivity_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
    </operation>
    <operation name="GET_GetServerHealth">
      <documentation />
      <input message="wsdl:GET_GetServerHealth_InputMessage" />
      <output message="wsdl:GET_GetServerHealth_OutputMessage">
        <documentation>OK</documentation>
      </output>
    </operation>
    <operation name="GET_GetHeartbeat">
      <documentation />
      <input message="wsdl:GET_GetHeartbeat_InputMessage" />
      <output message="wsdl:GET_GetHeartbeat_OutputMessage">
        <documentation>OK</documentation>
      </output>
    </operation>
    <operation name="GET_GetPrometheusMetrics">
      <documentation>See Prometheus documentation for a complete data model.</documentation>
      <input message="wsdl:GET_GetPrometheusMetrics_InputMessage" />
      <output message="wsdl:GET_GetPrometheusMetrics_OutputMessage">
        <documentation>Successfully returned Prometheus metrics</documentation>
      </output>
    </operation>
    <operation name="GET_GetItemFiles">
      <documentation />
      <input message="wsdl:GET_GetItemFiles_InputMessage" />
      <output message="wsdl:GET_GetItemFiles_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetItemFiles_401" message="wsdl:GET_GetItemFiles_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_GetItemFiles_404" message="wsdl:GET_GetItemFiles_404">
        <documentation>Item not found</documentation>
      </fault>
      <fault name="GET_GetItemFiles_413" message="wsdl:GET_GetItemFiles_413">
        <documentation>File content too large to display</documentation>
      </fault>
    </operation>
    <operation name="GET_GetDetailsOfFileById">
      <documentation />
      <input message="wsdl:GET_GetDetailsOfFileById_InputMessage" />
      <output message="wsdl:GET_GetDetailsOfFileById_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_GetDetailsOfFileById_401" message="wsdl:GET_GetDetailsOfFileById_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_GetDetailsOfFileById_403" message="wsdl:GET_GetDetailsOfFileById_403">
        <documentation>Unauthorized access</documentation>
      </fault>
      <fault name="GET_GetDetailsOfFileById_404" message="wsdl:GET_GetDetailsOfFileById_404">
        <documentation>File not found</documentation>
      </fault>
      <fault name="GET_GetDetailsOfFileById_413" message="wsdl:GET_GetDetailsOfFileById_413">
        <documentation>File content too large to display</documentation>
      </fault>
    </operation>
    <operation name="GET_DownloadFileByID">
      <documentation />
      <input message="wsdl:GET_DownloadFileByID_InputMessage" />
      <output message="wsdl:GET_DownloadFileByID_OutputMessage">
        <documentation>Success</documentation>
      </output>
      <fault name="GET_DownloadFileByID_401" message="wsdl:GET_DownloadFileByID_401">
        <documentation>Invalid or missing token</documentation>
      </fault>
      <fault name="GET_DownloadFileByID_404" message="wsdl:GET_DownloadFileByID_404">
        <documentation>File not found</documentation>
      </fault>
    </operation>
  </portType>
  <binding name="_x0031_Password_x0020_Connect_Binding" type="wsdl:_x0031_Password_x0020_Connect_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GET_GetVaultItems">
      <soap:operation soapAction="GET_GetVaultItems" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetVaultItems_401">
        <soap:fault use="literal" name="GET_GetVaultItems_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetVaultItems_404">
        <soap:fault use="literal" name="GET_GetVaultItems_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_CreateVaultItem">
      <soap:operation soapAction="POST_CreateVaultItem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_CreateVaultItem_400">
        <soap:fault use="literal" name="POST_CreateVaultItem_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="POST_CreateVaultItem_401">
        <soap:fault use="literal" name="POST_CreateVaultItem_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="POST_CreateVaultItem_403">
        <soap:fault use="literal" name="POST_CreateVaultItem_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="POST_CreateVaultItem_404">
        <soap:fault use="literal" name="POST_CreateVaultItem_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="DELETE_DeleteVaultItem">
      <soap:operation soapAction="DELETE_DeleteVaultItem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="DELETE_DeleteVaultItem_401">
        <soap:fault use="literal" name="DELETE_DeleteVaultItem_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="DELETE_DeleteVaultItem_403">
        <soap:fault use="literal" name="DELETE_DeleteVaultItem_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="DELETE_DeleteVaultItem_404">
        <soap:fault use="literal" name="DELETE_DeleteVaultItem_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetVaultItemById">
      <soap:operation soapAction="GET_GetVaultItemById" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetVaultItemById_401">
        <soap:fault use="literal" name="GET_GetVaultItemById_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetVaultItemById_403">
        <soap:fault use="literal" name="GET_GetVaultItemById_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetVaultItemById_404">
        <soap:fault use="literal" name="GET_GetVaultItemById_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="PATCH_PatchVaultItem">
      <soap:operation soapAction="PATCH_PatchVaultItem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="PATCH_PatchVaultItem_401">
        <soap:fault use="literal" name="PATCH_PatchVaultItem_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PATCH_PatchVaultItem_403">
        <soap:fault use="literal" name="PATCH_PatchVaultItem_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PATCH_PatchVaultItem_404">
        <soap:fault use="literal" name="PATCH_PatchVaultItem_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="PUT_UpdateVaultItem">
      <soap:operation soapAction="PUT_UpdateVaultItem" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="PUT_UpdateVaultItem_400">
        <soap:fault use="literal" name="PUT_UpdateVaultItem_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PUT_UpdateVaultItem_401">
        <soap:fault use="literal" name="PUT_UpdateVaultItem_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PUT_UpdateVaultItem_403">
        <soap:fault use="literal" name="PUT_UpdateVaultItem_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PUT_UpdateVaultItem_404">
        <soap:fault use="literal" name="PUT_UpdateVaultItem_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetVaults">
      <soap:operation soapAction="GET_GetVaults" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetVaults_401">
        <soap:fault use="literal" name="GET_GetVaults_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetVaultById">
      <soap:operation soapAction="GET_GetVaultById" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetVaultById_401">
        <soap:fault use="literal" name="GET_GetVaultById_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetVaultById_403">
        <soap:fault use="literal" name="GET_GetVaultById_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetVaultById_404">
        <soap:fault use="literal" name="GET_GetVaultById_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetApiActivity">
      <soap:operation soapAction="GET_GetApiActivity" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetApiActivity_401">
        <soap:fault use="literal" name="GET_GetApiActivity_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetServerHealth">
      <soap:operation soapAction="GET_GetServerHealth" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_GetHeartbeat">
      <soap:operation soapAction="GET_GetHeartbeat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_GetPrometheusMetrics">
      <soap:operation soapAction="GET_GetPrometheusMetrics" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_GetItemFiles">
      <soap:operation soapAction="GET_GetItemFiles" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetItemFiles_401">
        <soap:fault use="literal" name="GET_GetItemFiles_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetItemFiles_404">
        <soap:fault use="literal" name="GET_GetItemFiles_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetItemFiles_413">
        <soap:fault use="literal" name="GET_GetItemFiles_413" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_GetDetailsOfFileById">
      <soap:operation soapAction="GET_GetDetailsOfFileById" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_GetDetailsOfFileById_401">
        <soap:fault use="literal" name="GET_GetDetailsOfFileById_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetDetailsOfFileById_403">
        <soap:fault use="literal" name="GET_GetDetailsOfFileById_403" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetDetailsOfFileById_404">
        <soap:fault use="literal" name="GET_GetDetailsOfFileById_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_GetDetailsOfFileById_413">
        <soap:fault use="literal" name="GET_GetDetailsOfFileById_413" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_DownloadFileByID">
      <soap:operation soapAction="GET_DownloadFileByID" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_DownloadFileByID_401">
        <soap:fault use="literal" name="GET_DownloadFileByID_401" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_DownloadFileByID_404">
        <soap:fault use="literal" name="GET_DownloadFileByID_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
  </binding>
  <service name="_x0031_Password_x0020_Connect">
    <documentation>REST API interface for 1Password Connect.</documentation>
    <port name="default_Port" binding="wsdl:_x0031_Password_x0020_Connect_Binding">
      <soap:address location="http://1password.local" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>