1password/static/exports/1password-connect-wadl2009.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="http://1password.local/schemas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="1Password Connect" xml:lang="en">REST API interface for 1Password Connect.</doc>
  <grammars>
    <xs:schema xmlns:tns="http://1password.local/schemas" targetNamespace="http://1password.local/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="APIRequest" type="schemas:APIRequest" />
      <xs:element name="ErrorResponse" type="schemas:ErrorResponse" />
      <xs:element name="Field" type="schemas:Field" />
      <xs:element name="File" type="schemas:File" />
      <xs:element name="FullItem" type="schemas:FullItem" />
      <xs:element name="GeneratorRecipe" type="schemas:GeneratorRecipe" />
      <xs:element name="Item" type="schemas:Item" />
      <xs:element name="ServiceDependency" type="schemas:ServiceDependency" />
      <xs:element name="Vault" type="schemas:Vault" />
      <xs:element name="Action" type="schemas:Action" />
      <xs:element name="Actor" type="schemas:Actor" />
      <xs:element name="Category" type="schemas:Category" />
      <xs:element name="CharacterSet" type="schemas:CharacterSet" />
      <xs:element name="HealthResponse" type="schemas:HealthResponse" />
      <xs:element name="Item2" type="schemas:Item2" />
      <xs:element name="Op" type="schemas:Op" />
      <xs:element name="Patch" type="schemas:Patch" />
      <xs:element name="Purpose" type="schemas:Purpose" />
      <xs:element name="Resource" type="schemas:Resource" />
      <xs:element name="Result" type="schemas:Result" />
      <xs:element name="Section" type="schemas:Section" />
      <xs:element name="Section1" type="schemas:Section1" />
      <xs:element name="Section2" type="schemas:Section2" />
      <xs:element name="State" type="schemas:State" />
      <xs:element name="Type" type="schemas:Type" />
      <xs:element name="Type1" type="schemas:Type1" />
      <xs:element name="Type2" type="schemas:Type2" />
      <xs:element name="Url" type="schemas:Url" />
      <xs:element name="Vault1" type="schemas:Vault1" />
      <xs:element name="Vault3" type="schemas:Vault3" />
      <xs:element name="GetVaultItems200_Response0" type="schemas:GetVaultItems200_Response0" />
      <xs:element name="GetVaultItems401_Response0" type="schemas:GetVaultItems401_Response0" />
      <xs:element name="GetVaultItems404_Response0" type="schemas:GetVaultItems404_Response0" />
      <xs:element name="CreateVaultItem_Request" type="schemas:CreateVaultItem_Request" />
      <xs:element name="CreateVaultItem200_Response0" type="schemas:CreateVaultItem200_Response0" />
      <xs:element name="CreateVaultItem400_Response0" type="schemas:CreateVaultItem400_Response0" />
      <xs:element name="CreateVaultItem401_Response0" type="schemas:CreateVaultItem401_Response0" />
      <xs:element name="CreateVaultItem403_Response0" type="schemas:CreateVaultItem403_Response0" />
      <xs:element name="CreateVaultItem404_Response0" type="schemas:CreateVaultItem404_Response0" />
      <xs:element name="DeleteVaultItem401_Response0" type="schemas:DeleteVaultItem401_Response0" />
      <xs:element name="DeleteVaultItem403_Response0" type="schemas:DeleteVaultItem403_Response0" />
      <xs:element name="DeleteVaultItem404_Response0" type="schemas:DeleteVaultItem404_Response0" />
      <xs:element name="GetVaultItemById200_Response0" type="schemas:GetVaultItemById200_Response0" />
      <xs:element name="GetVaultItemById401_Response0" type="schemas:GetVaultItemById401_Response0" />
      <xs:element name="GetVaultItemById403_Response0" type="schemas:GetVaultItemById403_Response0" />
      <xs:element name="GetVaultItemById404_Response0" type="schemas:GetVaultItemById404_Response0" />
      <xs:element name="PatchVaultItem_Request" type="schemas:PatchVaultItem_Request" />
      <xs:element name="PatchVaultItem200_Response0" type="schemas:PatchVaultItem200_Response0" />
      <xs:element name="PatchVaultItem401_Response0" type="schemas:PatchVaultItem401_Response0" />
      <xs:element name="PatchVaultItem403_Response0" type="schemas:PatchVaultItem403_Response0" />
      <xs:element name="PatchVaultItem404_Response0" type="schemas:PatchVaultItem404_Response0" />
      <xs:element name="UpdateVaultItem_Request" type="schemas:UpdateVaultItem_Request" />
      <xs:element name="UpdateVaultItem200_Response0" type="schemas:UpdateVaultItem200_Response0" />
      <xs:element name="UpdateVaultItem400_Response0" type="schemas:UpdateVaultItem400_Response0" />
      <xs:element name="UpdateVaultItem401_Response0" type="schemas:UpdateVaultItem401_Response0" />
      <xs:element name="UpdateVaultItem403_Response0" type="schemas:UpdateVaultItem403_Response0" />
      <xs:element name="UpdateVaultItem404_Response0" type="schemas:UpdateVaultItem404_Response0" />
      <xs:element name="GetVaults200_Response0" type="schemas:GetVaults200_Response0" />
      <xs:element name="GetVaults401_Response0" type="schemas:GetVaults401_Response0" />
      <xs:element name="GetVaultById200_Response0" type="schemas:GetVaultById200_Response0" />
      <xs:element name="GetVaultById401_Response0" type="schemas:GetVaultById401_Response0" />
      <xs:element name="GetVaultById403_Response0" type="schemas:GetVaultById403_Response0" />
      <xs:element name="GetVaultById404_Response0" type="schemas:GetVaultById404_Response0" />
      <xs:element name="GetApiActivity200_Response0" type="schemas:GetApiActivity200_Response0" />
      <xs:element name="GetApiActivity401_Response0" type="schemas:GetApiActivity401_Response0" />
      <xs:element name="GetServerHealth200_Response0" type="schemas:GetServerHealth200_Response0" />
      <xs:element name="response200" type="xs:string">
        <xs:annotation>
          <xs:documentation>OK</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="response2001" type="xs:string">
        <xs:annotation>
          <xs:documentation>Successfully returned Prometheus metrics</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GetItemFiles200_Response0" type="schemas:GetItemFiles200_Response0" />
      <xs:element name="GetItemFiles401_Response0" type="schemas:GetItemFiles401_Response0" />
      <xs:element name="GetItemFiles404_Response0" type="schemas:GetItemFiles404_Response0" />
      <xs:element name="GetItemFiles413_Response0" type="schemas:GetItemFiles413_Response0" />
      <xs:element name="GetDetailsOfFileById200_Response0" type="schemas:GetDetailsOfFileById200_Response0" />
      <xs:element name="GetDetailsOfFileById401_Response0" type="schemas:GetDetailsOfFileById401_Response0" />
      <xs:element name="GetDetailsOfFileById403_Response0" type="schemas:GetDetailsOfFileById403_Response0" />
      <xs:element name="GetDetailsOfFileById404_Response0" type="schemas:GetDetailsOfFileById404_Response0" />
      <xs:element name="GetDetailsOfFileById413_Response0" type="schemas:GetDetailsOfFileById413_Response0" />
      <xs:element name="response2002" type="xs:hexBinary">
        <xs:annotation>
          <xs:documentation>Success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DownloadFileByID401_Response0" type="schemas:DownloadFileByID401_Response0" />
      <xs:element name="DownloadFileByID404_Response0" type="schemas:DownloadFileByID404_Response0" />
      <xs:complexType name="APIRequest">
        <xs:annotation>
          <xs:documentation>Represents a request that was made to the API. Including what Token was used and what resource was accessed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="action" type="schemas:Action" />
          <xs:element minOccurs="0" name="actor" type="schemas:Actor" />
          <xs:element minOccurs="0" name="requestId" type="xs:string">
            <xs:annotation>
              <xs:documentation>The unique id used to identify a single request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="resource" type="schemas:Resource" />
          <xs:element minOccurs="0" name="result" type="schemas:Result" />
          <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The time at which the request was processed by the server.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>A message detailing the error</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="status" type="xs:integer">
            <xs:annotation>
              <xs:documentation>HTTP Status Code</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="entropy" type="xs:double">
            <xs:annotation>
              <xs:documentation>For fields with a purpose of `PASSWORD` this is the entropy of the value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" default="false" name="generate" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>If value is not present then a new value should be generated for this field</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="purpose" type="schemas:Purpose">
            <xs:annotation>
              <xs:documentation>Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="recipe" type="schemas:GeneratorRecipe">
            <xs:annotation>
              <xs:documentation>The recipe is used in conjunction with the "generate" property to set the character set used to generate a new secure value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="section" type="schemas:Section" />
          <xs:element minOccurs="1" default="STRING" name="type" type="schemas:Type1" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="File">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:string">
            <xs:annotation>
              <xs:documentation>Base64-encoded contents of the file. Only set if size &lt;= OP_MAX_INLINE_FILE_SIZE_KB kb and `inline_files` is set to `true`.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="content_path" type="xs:string">
            <xs:annotation>
              <xs:documentation>Path of the Connect API that can be used to download the contents of this file.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="id" type="xs:string">
            <xs:annotation>
              <xs:documentation>ID of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="section" type="schemas:Section1">
            <xs:annotation>
              <xs:documentation>For files that are in a section, this field describes the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="size" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Size in bytes of the file</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FullItem">
        <xs:sequence>
          <xs:element minOccurs="1" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" default="false" name="favorite" type="xs:boolean" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="lastEditedBy" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="schemas:State" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="schemas:Url" />
          <xs:element minOccurs="1" name="vault" type="schemas:Vault1" />
          <xs:element minOccurs="0" name="version" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fields" type="schemas:Field" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="files" type="schemas:File" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sections" type="schemas:Section2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GeneratorRecipe">
        <xs:annotation>
          <xs:documentation>The recipe is used in conjunction with the "generate" property to set the character set used to generate a new secure value</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="characterSets" type="schemas:CharacterSet" />
          <xs:element minOccurs="0" name="excludeCharacters" type="xs:string">
            <xs:annotation>
              <xs:documentation>List of all characters that should be excluded from generated passwords.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" default="32" name="length">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Length of the generated value</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:maxInclusive value="64" />
                <xs:minInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Item">
        <xs:sequence>
          <xs:element minOccurs="1" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" default="false" name="favorite" type="xs:boolean" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="lastEditedBy" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="schemas:State" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="schemas:Url" />
          <xs:element minOccurs="1" name="vault" type="schemas:Vault1" />
          <xs:element minOccurs="0" name="version" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceDependency">
        <xs:annotation>
          <xs:documentation>The state of a registered server dependency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable message for explaining the current state.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="service" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault">
        <xs:sequence>
          <xs:element minOccurs="0" name="attributeVersion" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The vault version</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="contentVersion" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The version of the vault contents</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="items" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of active items in the vault</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="schemas:Type2" />
          <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Action">
        <xs:restriction base="xs:string">
          <xs:enumeration value="READ" />
          <xs:enumeration value="CREATE" />
          <xs:enumeration value="UPDATE" />
          <xs:enumeration value="DELETE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Actor">
        <xs:sequence>
          <xs:element minOccurs="0" name="account" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="jti" type="xs:string" />
          <xs:element minOccurs="0" name="requestIp" type="xs:string" />
          <xs:element minOccurs="0" name="userAgent" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Category">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LOGIN" />
          <xs:enumeration value="PASSWORD" />
          <xs:enumeration value="API_CREDENTIAL" />
          <xs:enumeration value="SERVER" />
          <xs:enumeration value="DATABASE" />
          <xs:enumeration value="CREDIT_CARD" />
          <xs:enumeration value="MEMBERSHIP" />
          <xs:enumeration value="PASSPORT" />
          <xs:enumeration value="SOFTWARE_LICENSE" />
          <xs:enumeration value="OUTDOOR_LICENSE" />
          <xs:enumeration value="SECURE_NOTE" />
          <xs:enumeration value="WIRELESS_ROUTER" />
          <xs:enumeration value="BANK_ACCOUNT" />
          <xs:enumeration value="DRIVER_LICENSE" />
          <xs:enumeration value="IDENTITY" />
          <xs:enumeration value="REWARD_PROGRAM" />
          <xs:enumeration value="DOCUMENT" />
          <xs:enumeration value="EMAIL_ACCOUNT" />
          <xs:enumeration value="SOCIAL_SECURITY_NUMBER" />
          <xs:enumeration value="MEDICAL_RECORD" />
          <xs:enumeration value="SSH_KEY" />
          <xs:enumeration value="CUSTOM" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CharacterSet">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LETTERS" />
          <xs:enumeration value="DIGITS" />
          <xs:enumeration value="SYMBOLS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="HealthResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dependencies" type="schemas:ServiceDependency" />
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" name="version" type="xs:string">
            <xs:annotation>
              <xs:documentation>The Connect server's version</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Item2">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Op">
        <xs:restriction base="xs:string">
          <xs:enumeration value="add" />
          <xs:enumeration value="remove" />
          <xs:enumeration value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Patch">
        <xs:sequence>
          <xs:element minOccurs="1" name="op" type="schemas:Op" />
          <xs:element minOccurs="1" name="path" type="xs:string">
            <xs:annotation>
              <xs:documentation>An RFC6901 JSON Pointer pointing to the Item document, an Item Attribute, and Item Field by Field ID, or an Item Field Attribute</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Purpose">
        <xs:annotation>
          <xs:documentation>Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="USERNAME" />
          <xs:enumeration value="PASSWORD" />
          <xs:enumeration value="NOTES" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="item" type="schemas:Item2" />
          <xs:element minOccurs="0" name="itemVersion" type="xs:integer" />
          <xs:element minOccurs="0" name="type" type="schemas:Type" />
          <xs:element minOccurs="0" name="vault" type="schemas:Vault3" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Result">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="DENY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Section">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Section1">
        <xs:annotation>
          <xs:documentation>For files that are in a section, this field describes the section.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Section2">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="State">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ARCHIVED" />
          <xs:enumeration value="DELETED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ITEM" />
          <xs:enumeration value="VAULT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type1">
        <xs:restriction base="xs:string">
          <xs:enumeration value="STRING" />
          <xs:enumeration value="EMAIL" />
          <xs:enumeration value="CONCEALED" />
          <xs:enumeration value="URL" />
          <xs:enumeration value="TOTP" />
          <xs:enumeration value="DATE" />
          <xs:enumeration value="MONTH_YEAR" />
          <xs:enumeration value="MENU" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Type2">
        <xs:restriction base="xs:string">
          <xs:enumeration value="USER_CREATED" />
          <xs:enumeration value="PERSONAL" />
          <xs:enumeration value="EVERYONE" />
          <xs:enumeration value="TRANSFER" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Url">
        <xs:sequence>
          <xs:element minOccurs="1" name="href" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="primary" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault1">
        <xs:sequence>
          <xs:element minOccurs="1" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vault3">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="^[\da-z]{26}$" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItems200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Item">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItems401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItems404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Vault not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem_Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="body" type="schemas:FullItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unable to create item due to invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateVaultItem404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteVaultItem401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteVaultItem403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteVaultItem404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItemById200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItemById401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItemById403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultItemById404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatchVaultItem_Request">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="body" type="schemas:Patch" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatchVaultItem200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK - Item updated. If no Patch operations were provided, Item is unmodified.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatchVaultItem401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatchVaultItem403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatchVaultItem404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem_Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="body" type="schemas:FullItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:FullItem">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unable to create item due to invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateVaultItem404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaults200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Vault">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaults401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultById200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Vault">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultById401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultById403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVaultById404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Vault not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetApiActivity200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:APIRequest">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetApiActivity401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetServerHealth200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:HealthResponse">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemFiles200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:File">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemFiles401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemFiles404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Item not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemFiles413_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response413" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File content too large to display</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDetailsOfFileById200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:File">
            <xs:annotation>
              <xs:documentation>OK</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDetailsOfFileById401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDetailsOfFileById403_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response403" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Unauthorized access</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDetailsOfFileById404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDetailsOfFileById413_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response413" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File content too large to display</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DownloadFileByID401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>Invalid or missing token</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DownloadFileByID404_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404" type="schemas:ErrorResponse">
            <xs:annotation>
              <xs:documentation>File not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="http://1password.local">
    <resource id="_vaultsvaultUuiditems" path="/vaults/{vaultUuid}/items">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to fetch Items from</doc>
      </param>
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to create an Item in</doc>
      </param>
      <method id="GetVaultItems" name="GET">
        <doc title="GetVaultItems" xml:lang="en" />
        <request>
          <param name="filter" style="query" type="xsd:string">
            <doc title="filter" xml:lang="en">Filter the Item collection based on Item name using SCIM eq filter</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetVaultItems200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetVaultItems401_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Vault not found</doc>
          <representation element="schemas:GetVaultItems404_Response0" mediaType="application/json" />
        </response>
      </method>
      <method id="CreateVaultItem" name="POST">
        <doc title="CreateVaultItem" xml:lang="en" />
        <request>
          <param name="Content-Type" style="header" type="xsd:string" default="application/json" required="true" fixed="application/json">
            <doc title="Content-Type" xml:lang="en" />
          </param>
          <representation element="schemas:CreateVaultItem_Request" mediaType="application/json" />
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:CreateVaultItem200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Unable to create item due to invalid input</doc>
          <representation element="schemas:CreateVaultItem400_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:CreateVaultItem401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:CreateVaultItem403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:CreateVaultItem404_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_vaultsvaultUuiditemsitemUuid" path="/vaults/{vaultUuid}/items/{itemUuid}">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault the item is in</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to update</doc>
      </param>
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to fetch Item from</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to fetch</doc>
      </param>
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault the item is in</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to update</doc>
      </param>
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Item's Vault</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to update</doc>
      </param>
      <method id="DeleteVaultItem" name="DELETE">
        <doc title="DeleteVaultItem" xml:lang="en" />
        <request />
        <response status="204">
          <doc title="204" xml:lang="en">Successfully deleted an item</doc>
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:DeleteVaultItem401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:DeleteVaultItem403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:DeleteVaultItem404_Response0" mediaType="application/json" />
        </response>
      </method>
      <method id="GetVaultItemById" name="GET">
        <doc title="GetVaultItemById" xml:lang="en" />
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetVaultItemById200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetVaultItemById401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:GetVaultItemById403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:GetVaultItemById404_Response0" mediaType="application/json" />
        </response>
      </method>
      <method id="PatchVaultItem" name="PATCH">
        <doc title="PatchVaultItem" xml:lang="en">Applies a modified [RFC6902 JSON Patch](https://tools.ietf.org/html/rfc6902) document to an Item or ItemField. This endpoint only supports `add`, `remove` and `replace` operations.

When modifying a specific ItemField, the ItemField's ID in the `path` attribute of the operation object: `/fields/{fieldId}`
</doc>
        <request>
          <param name="Content-Type" style="header" type="xsd:string" default="application/json" required="true" fixed="application/json">
            <doc title="Content-Type" xml:lang="en" />
          </param>
          <representation element="schemas:PatchVaultItem_Request" mediaType="application/json" />
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK - Item updated. If no Patch operations were provided, Item is unmodified.</doc>
          <representation element="schemas:PatchVaultItem200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:PatchVaultItem401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:PatchVaultItem403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:PatchVaultItem404_Response0" mediaType="application/json" />
        </response>
      </method>
      <method id="UpdateVaultItem" name="PUT">
        <doc title="UpdateVaultItem" xml:lang="en" />
        <request>
          <param name="Content-Type" style="header" type="xsd:string" default="application/json" required="true" fixed="application/json">
            <doc title="Content-Type" xml:lang="en" />
          </param>
          <representation element="schemas:UpdateVaultItem_Request" mediaType="application/json" />
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:UpdateVaultItem200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Unable to create item due to invalid input</doc>
          <representation element="schemas:UpdateVaultItem400_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:UpdateVaultItem401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:UpdateVaultItem403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:UpdateVaultItem404_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_vaults" path="/vaults">
      <method id="GetVaults" name="GET">
        <doc title="GetVaults" xml:lang="en" />
        <request>
          <param name="filter" style="query" type="xsd:string">
            <doc title="filter" xml:lang="en">Filter the Vault collection based on Vault name using SCIM eq filter</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetVaults200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetVaults401_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_vaultsvaultUuid" path="/vaults/{vaultUuid}">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to fetch Items from</doc>
      </param>
      <method id="GetVaultById" name="GET">
        <doc title="GetVaultById" xml:lang="en" />
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetVaultById200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetVaultById401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:GetVaultById403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Vault not found</doc>
          <representation element="schemas:GetVaultById404_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_activity" path="/activity">
      <method id="GetApiActivity" name="GET">
        <doc title="GetApiActivity" xml:lang="en" />
        <request>
          <param name="limit" style="query" type="xsd:integer" default="50">
            <doc title="limit" xml:lang="en">How many API Events should be retrieved in a single request.</doc>
          </param>
          <param name="offset" style="query" type="xsd:integer" default="0">
            <doc title="offset" xml:lang="en">How far into the collection of API Events should the response start</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <param name="Content-Range" style="plain" type="xsd:string" required="true">
            <doc title="Content-Range" xml:lang="en">An decription of what part of the collection has been returned as well as the total size.</doc>
          </param>
          <representation element="schemas:GetApiActivity200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetApiActivity401_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_health" path="/health">
      <method id="GetServerHealth" name="GET">
        <doc title="GetServerHealth" xml:lang="en" />
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetServerHealth200_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_heartbeat" path="/heartbeat">
      <method id="GetHeartbeat" name="GET">
        <doc title="GetHeartbeat" xml:lang="en" />
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:response200" mediaType="text/plain" />
        </response>
      </method>
    </resource>
    <resource id="_metrics" path="/metrics">
      <method id="GetPrometheusMetrics" name="GET">
        <doc title="GetPrometheusMetrics" xml:lang="en">See Prometheus documentation for a complete data model.</doc>
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">Successfully returned Prometheus metrics</doc>
          <representation element="schemas:response2001" mediaType="text/plain" />
        </response>
      </method>
    </resource>
    <resource id="_vaultsvaultUuiditemsitemUuidfiles" path="/vaults/{vaultUuid}/items/{itemUuid}/files">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to fetch Items from</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to fetch files from</doc>
      </param>
      <method id="GetItemFiles" name="GET">
        <doc title="GetItemFiles" xml:lang="en" />
        <request>
          <param name="inline_files" style="query" type="xsd:boolean">
            <doc title="inline_files" xml:lang="en">Tells server to return the base64-encoded file contents in the response.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetItemFiles200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetItemFiles401_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">Item not found</doc>
          <representation element="schemas:GetItemFiles404_Response0" mediaType="application/json" />
        </response>
        <response status="413">
          <doc title="413" xml:lang="en">File content too large to display</doc>
          <representation element="schemas:GetItemFiles413_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_vaultsvaultUuiditemsitemUuidfilesfileUuid" path="/vaults/{vaultUuid}/items/{itemUuid}/files/{fileUuid}">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault to fetch Item from</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item to fetch File from</doc>
      </param>
      <param name="fileUuid" style="template" type="xsd:string" required="true">
        <doc title="fileUuid" xml:lang="en">The UUID of the File to fetch</doc>
      </param>
      <method id="GetDetailsOfFileById" name="GET">
        <doc title="GetDetailsOfFileById" xml:lang="en" />
        <request>
          <param name="inline_files" style="query" type="xsd:boolean">
            <doc title="inline_files" xml:lang="en">Tells server to return the base64-encoded file contents in the response.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">OK</doc>
          <representation element="schemas:GetDetailsOfFileById200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:GetDetailsOfFileById401_Response0" mediaType="application/json" />
        </response>
        <response status="403">
          <doc title="403" xml:lang="en">Unauthorized access</doc>
          <representation element="schemas:GetDetailsOfFileById403_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">File not found</doc>
          <representation element="schemas:GetDetailsOfFileById404_Response0" mediaType="application/json" />
        </response>
        <response status="413">
          <doc title="413" xml:lang="en">File content too large to display</doc>
          <representation element="schemas:GetDetailsOfFileById413_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_vaultsvaultUuiditemsitemUuidfilesfileUuidcontent" path="/vaults/{vaultUuid}/items/{itemUuid}/files/{fileUuid}/content">
      <param name="vaultUuid" style="template" type="xsd:string" required="true">
        <doc title="vaultUuid" xml:lang="en">The UUID of the Vault the item is in</doc>
      </param>
      <param name="itemUuid" style="template" type="xsd:string" required="true">
        <doc title="itemUuid" xml:lang="en">The UUID of the Item the File is in</doc>
      </param>
      <param name="fileUuid" style="template" type="xsd:string" required="true">
        <doc title="fileUuid" xml:lang="en">UUID of the file to get content from</doc>
      </param>
      <method id="DownloadFileByID" name="GET">
        <doc title="DownloadFileByID" xml:lang="en" />
        <request />
        <response status="200">
          <doc title="200" xml:lang="en">Success</doc>
          <param name="Content-Disposition" style="plain" type="xsd:string" required="true">
            <doc title="Content-Disposition" xml:lang="en" />
          </param>
          <param name="Content-Length" style="plain" type="xsd:string" required="true">
            <doc title="Content-Length" xml:lang="en" />
          </param>
          <representation element="schemas:response2002" mediaType="application/octet-stream" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid or missing token</doc>
          <representation element="schemas:DownloadFileByID401_Response0" mediaType="application/json" />
        </response>
        <response status="404">
          <doc title="404" xml:lang="en">File not found</doc>
          <representation element="schemas:DownloadFileByID404_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
  </resources>
</application>