1forge/0.0.1/portal/static/exports/1forge-finance-apis-wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="https://1forge.com/forex-quotes/schemas" xmlns:wsdl="https://1forge.com/forex-quotes/wsdl" targetNamespace="https://1forge.com/forex-quotes/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://1forge.com/forex-quotes/schemas" targetNamespace="https://1forge.com/forex-quotes/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GET_Getquotesforallsymbols_InputMessage" type="schemas:GET_Getquotesforallsymbols_InputMessage" />
      <xs:element name="GET_Getquotesforallsymbols_OutputMessage" type="schemas:GET_Getquotesforallsymbols_OutputMessage" />
      <xs:element name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage" type="schemas:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage" />
      <xs:element name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage" type="schemas:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage" />
      <xs:complexType name="GET_Getquotesforallsymbols_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_Getquotesforallsymbols_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response">
            <xs:annotation>
              <xs:documentation>A list of quotes</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="xs:string">
            <xs:annotation>
              <xs:documentation>A list of symbols</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GET_Getquotesforallsymbols_InputMessage">
    <part name="GET_Getquotesforallsymbols_InputMessage" element="schemas:GET_Getquotesforallsymbols_InputMessage" />
  </message>
  <message name="GET_Getquotesforallsymbols_OutputMessage">
    <part name="GET_Getquotesforallsymbols_OutputMessage" element="schemas:GET_Getquotesforallsymbols_OutputMessage" />
  </message>
  <message name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage">
    <part name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage" element="schemas:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage" />
  </message>
  <message name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage">
    <part name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage" element="schemas:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage" />
  </message>
  <portType name="server1_PortType">
    <operation name="GET_Getquotesforallsymbols">
      <documentation>Get quotes</documentation>
      <input message="wsdl:GET_Getquotesforallsymbols_InputMessage" />
      <output message="wsdl:GET_Getquotesforallsymbols_OutputMessage">
        <documentation>A list of quotes</documentation>
      </output>
    </operation>
    <operation name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes">
      <documentation>Symbol List</documentation>
      <input message="wsdl:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_InputMessage" />
      <output message="wsdl:GET_Getalistofsymbolsforwhichweprovidereal-timequotes_OutputMessage">
        <documentation>A list of symbols</documentation>
      </output>
    </operation>
  </portType>
  <portType name="server2_PortType" />
  <binding name="server1_Binding" type="wsdl:server1_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GET_Getquotesforallsymbols">
      <soap:operation soapAction="GET_Getquotesforallsymbols" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_Getalistofsymbolsforwhichweprovidereal-timequotes">
      <soap:operation soapAction="GET_Getalistofsymbolsforwhichweprovidereal-timequotes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <binding name="server2_Binding" type="wsdl:server2_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
  </binding>
  <service name="_x0031_Forge_x0020_Finance_x0020_APIs">
    <documentation>Stock and Forex Data and Realtime Quotes</documentation>
    <port name="server1_Port" binding="wsdl:server1_Binding">
      <soap:address location="https://1forge.com/forex-quotes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
    <port name="server2_Port" binding="wsdl:server2_Binding">
      <soap:address location="http://1forge.com/forex-quotes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>